/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log


# Ruby Sass
/resources/sass/.sass-cache

# Javascript compiled by laravel mix
/public/js/app.js
/public/js/admin.js
/public/js/app-vue.js