#Ftr_P {
    > .__f__ {
        > .__ {
            > ._p_ {
                @extend %flex;
                @extend %flex-wrap-wrap;
            }
            /** Main heading */
            ._mh_ {
                @extend %main-heading;
            }
        }
    }

    /** items of featured post */
    .__i__ {
        width: 33.333%; // rata bagi 3
        /** item inner (firt child of featured post items)  */
        .in_ {
            padding: 12px;
        }
        ._img_ {
            @extend %relative;
            @extend %overflow-hidden;
            height: 200px;
        }
        /** content of feature post include post title summary not post meta*/
        .c_ {
            padding: 16px;
            ._t_ {
                @extend %overflow-hidden;
                height: 48px;
                h2 {
                    font-size: 22px;
                    line-height: 1.3;
                }
            }
        }
    }
}