footer#main {

	$logo-v2-width : 40px;

  $icon-size : 18px;
  @extend %transition;
  @extend %set-background-white;
  > div[class*="_"] {
    padding: 80px 0;
    > div {
      @extend %text-center;
    }
  }
  .c__ {
    > p {
      @extend %muted;
      @extend %small;
      @extend %reset;
      margin-bottom: .3rem;
      .laravel {
        @extend %reset-line-height;
        @extend %vertical-align-middle;
        svg {
          width: $icon-size;
          height: $icon-size;
        }
      }
      i {
        color: rgb(255, 44, 79);
        font-size: $icon-size;
      }
			> a {
        @extend %line;
			}
    }
    a {
      @extend %secondary-text;
      @extend %text-decoration-none;
    }

    /** logo for footer v2 */
    .logo {
			@extend %margin-bottom-xs;
      svg {
        width: $logo-v2-width;
				height: $logo-v2-width;
				g {
					fill: #cbd2ed;
				}
				path {
					&#r {
						fill: #b3c5df;
					}
				}

				/** change svg logo color when hover */
				&:hover {
					g {
					fill: #3974f5;
					}
					path {
						&#r {
							fill: #0049e6;
						}
					}
				}
      }
    }
  }
}

[data-page=index] {
  [data-layout-style=left] {
    footer#main {
      // @extend %set-background-white;
      padding-left: $left-width;
    }
  }
}