footer#main {
    $icon-size : 18px;
    @extend %transition;
    @extend %set-background-white;
    > div[class*="_"] {
        padding: 60px 0;
        > div {
            @extend %text-center;
        }
    }
    .c__ {
        > p {
            @extend %muted;
            @extend %small;
            @extend %reset;
            .laravel {
                @extend %reset-line-height;
                @extend %vertical-align-middle;
                svg {
                    width: $icon-size;
                    height: $icon-size;
                }
            }
            i {
                color: rgb(255, 44, 79);
                font-size: $icon-size;
            }
            &:first-child {
                > span {
                    @extend %line;
                }
            }
        }
        a {
            @extend %secondary-text;
            @extend %text-decoration-none;
        }
    }
}

[data-page=index] {
    [data-layout-style=left] {
        footer#main {
            // @extend %set-background-white;
            padding-left: $left-width;
        }
    }
}