$hero_pic_size : 174px;
$follow-background-image : #f4f4f4;

#hero {
    @extend %transition-cubic-bezier;
    &[data-version=two] {
        background-color: $follow-background-image;
        @extend %fixed;
        @extend %top-left;
        @extend %full;
        ._z {
            ._q {
                @extend %transition-cubic-bezier;
                @extend %flex;
                @extend %align-items-center;
                @extend %justify-content-center;
                @extend %full-height-percen;
                @extend %flex-direction-column;
            }
        }
        ._y {
            @extend %one-k-width;
            ._x {
                @extend %flex;
                @extend %relative;
                @extend %give-standard-padding;
                height: $hero-height;
            }
        }

        /** Picture Area */
        .anh_ {
            @extend %absolute;
            z-index: -1;
            bottom: 0;
            right: 0;
            [class*="_"] {
                @extend %line-height-zero;
                img {
                    height: $hero-height;
                    width: auto;    
                }
            }
        }
    
        .u {
            @extend %transition-cubic-bezier;
            @extend %flex;
            @extend %align-items-center;
            padding-right: 40%;
            > [class$=r] {
                @extend %margin-top-xl;
                @extend %padding-left-xl;
            }
            ._i {
                h2 {
                    @extend %reset-line-height;
                    @extend %margin-bottom-xs;
                    font-size: 40px;
                    font-weight: 300;
                    color: #755ade;
                    .laravel-color {
                        color: $laravel-color;
                    }
                    span.name {
                        @extend %display-none;
                    }
                }
            }
            ._o {
                @extend %margin-top-sm;
                font-size: 18px;
                p {
                    
                    @extend %reset;
                }
            }
        }

        /** Style for position hero to left */
        &[data-position=left] {
            z-index: 10;
            width: $left-width;
            ._y {
                width: $left-width;
                ._x {
                    @extend %full-height;
                    @extend %padding-unset;
                    .u {
                        @extend %align-items-flex-start;
                        padding-right: unset;
                        padding: 0 36px;
                        > [class$=r] {
                            padding-top: 120px;
                            padding-left: unset;
                            margin-top: unset;
                        }
                        [class$=i] {
                            h2 {
                                @extend %margin-top-sm;
                                margin-bottom: 0;
                                font-size: 22px;
                                @extend %bold;
                                span:not(.name) {
                                    @extend %display-none;
                                }
                                span.name {
                                    @extend %block;
                                }
                            }
                        }
                    }
                    > [class$=_] {
                        $image-size : 82px;

                        right: unset;
                        bottom: unset;
                        top: 36px;
                        left: 36px;
                        > [class^=_] {
                            width: $image-size;
                            height: $image-size;
                            border-radius: 10px;
                            @extend %overflow-hidden;
                            @extend %image-box-shadow;
                            border: 4px solid #fff;
                            img {
                                width: 100px;
                                height: auto;
                                margin-left: -11px;
                                margin-top: -3px;
                            }
                        }
                    }
                }
            }
            /** Social links for layout hero left */
            #__h_sl {
                ul {
                    li {
                        @extend %full-width;
                        a {
                            @extend %text-decoration-none;
                            @extend %full-width;
                            @extend %flex;
                            margin-right: unset;
                            @extend %flex-direction-row;
                            @extend %align-items-center;
                            @extend %main-color;
                            @extend %margin-bottom-sm;
                            .ic {
                                @extend %inline-block;
                                @extend %margin-right-sm;
                            }
                            span {
                                @extend %inline-block;
                            }
                        }
                    }
                }
            }
        }

    }

}