main#main {
    @at-root {
        [data-page=home] {
            main#main {
                @extend %absolute;
                @extend %full-width;
                min-height: 100%;
                top: 100vh;
            }
        }
        [data-theme=light] {
            main#main {
                @extend %set-background-white;
            }
        }
    }
    .Anh {
        @extend %relative;
        padding: 40px 0;
        > .__o__ {  
            padding-top: 50px;
            @extend %flex;
            > {
                .__ {
                    @extend %one-k-width;
                }
            }
        }
    }
}