::selection {
    @extend %background-primary-color-light;
}

/** Style for layout left */
[data-page=index] {
    /** follow background image */
    background-color: #f4f4f4;

    main#main {
        @extend %absolute;
        @extend %full-width;
        min-height: 100%;
        top: $hero-height;
        .Anh {
            @extend %give-standard-padding;
            @extend %main-width;
        }
    }
    [data-layout-style=left] {
        main#main {
            .Anh {
                @extend %full-width;
                padding-left: $left-width;
                padding-right: 0;
                > div[class*=__] {
                    @extend %remove-box-shadow;
                }
                
            }
        }
    }

    /** set box shadow only on homepage */
    [data-theme=light] {
        main#main {
            .Anh {
                > div[class*=__] {
                    @extend %box-shadow-lg;
                }
            }
        }
    }

}

[data-theme=light] {
    main#main {
        .Anh {
            > div[class*=__] {
                @extend %set-background-white;
            }
        }
    }
}

main#main {
    .Anh {
        @extend %transition-cubic-bezier;
        @extend %relative;
        > div[class*=__]  {  
            @extend %transition-cubic-bezier;
            @extend %border-thin-radius;
            @extend %flex;
            padding-top: 50px;
            padding-bottom: 50px;
            > {
                .__ {
                    @extend %one-k-width;
                }
            }
        }
    }
}



/** Page Blog Category Show */
[data-page=blog-category-show] {
    main#main .Anh > div[class*=__] {
        padding-top: 125px;
    }
}