/** Style for layout left */
[data-page=index] {
    main#main {
        @extend %absolute;
        @extend %full-width;
        min-height: 100%;
        top: $hero-height;
        .Anh {
            @extend %give-standard-padding;
            @extend %one-k-width;
        }
    }
    &[data-layout-style=left] {
        main#main {
            .Anh {
                @extend %full-width;
                padding-left: $left-width;
                padding-right: 0;
            }
        }
    }
}

[data-theme=light] {
    main#main {
        .Anh {
            > div[class*=__] {
                @extend %set-background-white;
            }
        }
    }
}

main#main {
    .Anh {
        @extend %transition;
        @extend %relative;
        > div[class*=__]  {  
            @extend %border-thin-radius;
            @extend %flex;
            padding-top: 50px;
            > {
                .__ {
                    @extend %one-k-width;
                }
            }
        }
    }
}