#RP {
    @extend %margin-top-xl;
    $post-thumbnail-height: 142px;

    > .__q__ {
        @extend %lite-width;
        > ._cn_ {
            @extend %give-standard-margin;
            > .__sa {
                @extend %flex;
                @extend %flex-wrap-wrap;
            }
            /** Main heading */
            ._g_ {
                @extend %main-heading-center;
            }
            .__quote__ {
                @extend %flex;
                @extend %justify-content-center;
                > blockquote {
                    @extend %text-center;
                    @extend %reset;
                    @extend %muted;
                    width: 500px;
                    font-size: 20px;
                    font-weight: 700;
                    cite {
                        @extend %block;
                        font-size: 14px;
                        margin-top: .75rem;
                    }
                }
            }
        }
    }

    /** items of post */
    .__i__ {
        width: 50%; // rata bagi 2
        /** item inner (firt child of post items)  */
        .in_ {
            padding: 12px;
        }
        ._img_ {
            @extend %relative;
            @extend %box-shadow;
            @extend %border-radius;
            @extend %overflow-hidden;
            height: $post-thumbnail-height;
        }
        /** content of post include post title summary not post meta*/
        .c_ {
            @include translate(0, -56px);
            @extend %transition;
            padding: 12px;
            &:hover {
                > ._xo {
                    @include translateY(-12px);
                }
            }
            /** post content inner */
            > ._xo {
                @extend %set-background-white;
                @extend %border-radius;
                @extend %box-shadow;
                @extend %transition;
                padding: 22px 20px 16px 22px;
                margin-bottom: -60px;
                /** post title */
                ._t_ {
                    @extend %overflow-hidden;
                    height: 54px;
                    margin-bottom: 12px;
                    a {
                        @extend %main-color;
                        text-decoration: none;
                    }
                    h4 {
                        font-size: 20px;
                        line-height: 1.3;
                    }
                }
            }
            /** post meta */
            ._m_ {
                @extend %flex;
                @extend %justify-content-space-between;
                @extend %align-items-center;
                .__c {
                    @extend %flex;
                    @extend %main-color;
                    text-decoration: none;
                }
                .d_ {
                    @extend %muted;
                    @extend %small;
                    i {
                        font-size: 18px;
                    }
                }
                ._ic {
                    margin-right: .4rem;
                    @extend %flex;
                    @extend %align-items-center;
                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }

    /** Load more */
    .__l_m {
        @extend %flex;
        @extend %justify-content-center;
        @extend %margin-top-lg;
        > a {
            &:hover {
                i {
                    @include rotate(360);
                }
            }
            i {
                @extend %animation-slow;
            }
        }
    }
}