[data-page=blog-single] {
    main#main {
        @extend %relative;
        top: 0;
    }
}

[data-blog=single] {

    /** data-version="two" */
    &[data-version="two"] {
        ._io_ {
            ._xo {
                > .__ {
                    @extend %reset-line-height;
                    margin-bottom: 0;
                }
            }
            ._m_ {
                @extend %margin-top-lg;
                @extend %margin-bottom-lg;
                > ._ad_ {
                    ._pic {
                        @extend %margin-right-sm;
                        + [class^="_"] {
                            @extend %flex;
                            @extend %flex-direction-row;
                            @extend %align-items-center;
                            > * {
                                &:first-child {
                                    @extend %line;
                                    @extend %main-color;
                                    @extend %text-decoration-none;
                                }
                                &:last-child {
                                    @extend %default-font-size;
                                }
                                @extend %reset;
                                line-height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    /** end of [data-version="two'] */

    ._io_ {
        ._t {
            @extend %text-center;
            margin: 0 72px;
            > * {
                @extend %main-color;
                text-decoration: none;
                &:hover {
                    color: $primary-color;
                }
                h2 {
                    font-size: 40px;
                    line-height: 1.3;
                }
            }
        }
        /** Post Meta (include post author, date and category) */
        ._m_ {
            $pic_size : 38px;
            @extend %flex;
            @extend %justify-content-center;
            > ._ad_ {
                @extend %flex;
                ._pic {
                    width: $pic_size;
                    height: $pic_size;
                    margin-right: .5rem;
                }
                img {
                    @extend %round;
                }
                > ._a {
                    @extend %flex;
                    @extend %flex-direction-column;
                    @extend %reset-line-height;
                    @extend %justify-content-center;
                    /** profile name */
                    > *:first-child {
                        @extend %font-weight-bold;
                        margin-bottom: .2rem;
                        font-size: 18px;
                    }
                    > ._d {
                        @extend %muted;
                        font-size: 13px;
                    }
                }
            }
            > .__c {
                @extend %flex;
                @extend %main-color;
                @extend %align-items-center;
                text-decoration: none;
                margin-left: 7.5rem;
                ._ic {
                    margin-right: .4rem;
                    svg {
                        @extend %vertical-align-middle;
                        width: 22px;
                        height: 22px;
                    }
                }
            }
        }

        ._xo {
            /** Post Image */
            > .__ {
                @extend %margin-top;
                @extend %margin-bottom;
                img {
                    @extend %border-radius;
                    @extend %image-box-shadow;
                }
            }
        }

        /** post content */
        ._ps_ {
            @extend %lite-width;
            ul, ol {
                font-size: $reading-font-size;
                @extend %reading-font;
                padding-left: 26px;
                margin-bottom: 1rem;
                line-height: 1.75rem;
                font-weight: normal;
            }
            blockquote, blockquote > p {
                font-size: 22px;
                line-height: 1.75;
                font-style: italic;
            }
        }
    }
}