pre[class*=language] {

    &::-webkit-scrollbar {
        height: 6px;
    }
	
	@extend %box-shadow-soft;

    /** Data size */
    &[data-size=wide] {
        margin: 1rem -100px;
    }

    &[data-line-numbers=false] {
        padding: 14px 20px;
        @extend %border-thin-radius;
	}
	
    @extend %position-relative;
    @extend %border-thin-radius;
    @extend %border-thin-transparent;
    padding: 32px 24px 28px 60px;
    overflow: auto;
    font-weight: normal;
    @extend %font-sm;
	line-height: 1.85;
	
    /** Support for line numbers (pre tags) */
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    
    /** Line Numbers */
    .line-number {
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
		@extend %display-inline-block;
		@extend %float-left;
        @extend %text-align-right;
        @extend %position-fixed;
        margin-left: -60px;
        @extend %z-index-1;
        @extend %top;
        padding-top: 33px;
        span {
            @extend %display-block;
            width: 48px;
            padding-right: 10px;
            color: #797979;
            font-size: 14px;
        }
    }
    code {
        white-space: pre;
		padding:0 !important;
		tab-size: 2;
    }
    /** File name */
    span.code-filename {
        @extend %border-thin-radius;
        @extend %position-absolute;
        @extend %font-sm;
        top: 12px;
        right: 16px;
        padding: 0.32rem 0.85rem;
    }

    &[data-color="monokai-pro"],
    &[data-color*="dark"] {
        span.code-filename {
            background: #262634;
            color: #b2b2b7;
        }
    }

    &[data-color*="light"] {
        border: 1px solid #eee;
        ::selection {
            background-color: rgba($white, 0.1);
            color: inherit;
        }
    }


    /** Color schema "Monokai Pro' (Visual Studio Code) */
    &[data-color="monokai-pro"] {
        $monokai-pro-background-color: #273136;
        background-color: $monokai-pro-background-color;
        color: #dadada;
        ::selection {
            background-color: rgb(15, 15, 15);
            color: inherit;
        }
        .line-number span {
            background-color: $monokai-pro-background-color;
        }
        .token {
            &.keyword {
                color: #ff7e7a;
            }
            &.package {
                color: #7cd5f1;
            }
            &.string {
                color: #ffed66;
            }
            &.function {
                color: #a2e57b;
            }
            &.comment {

                color: #757575;
            }
            &.number {
                color: #d58cff;
            }
            &.operator {
                color: #ff5f95;
            }
        }

        &[class*="-php"] {
            .token {
                &.class-name {
                    color: #36b2ff;
                }
            }
        }

        &[class*="-css"] {
            .token {
                &.selector {
                    color: #98da69;
                }
                &.rule {
                    color: #ff7e7a;
                }
                &.atrule {
                    color: #ffca2b;
                }
                &.property {
                    color: #91a8ff;
                }
                &.important {
                    color: #b790ff;
                    font-weight: normal !important;
                }
                &.punctuation {
                    color: #dadada;
                }
                &.function {
                    color: #fb8d60;
                }
            }
        }

        &[class*="-scss"] {
            .token {
                &.property {
                    color: #71d3ff;
                }
            }
        }

        &[class*="-javascript"] {
            color: #dbdbdb;
            .token {
                &.keyword {
                    color: #20baff;
                }
                &.operator {
                    color: #ff689e;
                }
                &.regex {
                    color: #fd8a23;
                }
                &.number {
                    color: #ff9063;
                }
            }
        }

        &[class$="-markup"] {
            color: #ffb951;
            .token {
                &.tag {
                    color: #ff759a;
                }
                &.attr-name {
                    color: #29bdff;
                }
                &.attr-value {
                    color: #6abf6d;
                }
                &.punctuation {
                    color: #b3b3b3;
                }
            }
        }
        
    }


    /** light theme */
    &[data-color*="light"] {
        background-color: #f2f2f2;

        &::-webkit-scrollbar-thumb {
            background: #d6d7db;
        }
        ::selection {
            background-color: rgb(219, 219, 219);
        }
        color: #3d78c3;
        .line-number {
            span {
                color: #bbbbbb;
            }
        }
        .token {
            &.comment {
                color: #a5a5a5;
            }
            &.function {
                color: #6e4fab;
            }
            &.keyword {
                color: #e4427c;
            }
            &.string {
                color: #1a841e;
            }
            &.operator {
                color: #f17c00;
            }
            &.punctuation {
                color: #949494;
            }
        }


        &[class$="-css"] {
            .token {
                &.atrule {
                    color: #e4427c;
                }
                &.selector {
                    color: #3d78c3;
                }
                &.url {
                    color: #378a3a;
                }
                &.property {
                    color: #ff8135;
                }
                &.function {
                    color: #e4427c;
                }
                &.important {
                    color: #6e4fab;
                }
            }
            
        }

        &[class$="-scss"] {
            color: #3d78c3;
            .token {
                &.selector {
                    color: #FF5722;
                }
                &.variable {
                    color: #2e6bb9;
                }
                &.property {
                    color: #ff6d15;
                }
            }
            
        }


        &[class$="-javascript"] {
            .token {
                &.operator {
                    color: #ff8135;
                }
                &.string {
                    color: #378a3a;
                }
                &.number {
                    color: #FF5722;
                }
                &.operator {
                    color: #e831af;
                }
            }
        }

        &[class$="-markup"] {
            color: #E91E63;
            .token {
                &.tag {
                    color: #1c8621;
                }
                &.attr-name {
                    color: #673ab7;
                }
                &.attr-value {
                    color: #405886;
                }
                &.punctuation {
                    color: #5d5d5d;
                }
            }
        }

    }

}