#_bsp {

    $blog-pager-height: 70px;
    --blog-page-height: #{$blog-pager-height};
    @extend %padding-top-lg;
    @extend %padding-bottom-lg;
    @extend %lite-width;

    > div[class*="_"] {
        @extend %flex;
        @extend %justify-content-space-between;
        @extend %flex-wrap-nowrap;

        /** next and previous */
        > * {
            .q {
                > div {
                    @extend %flex;
                    @extend %relative;
                    @extend %padding-sm;
                    @extend %overflow-hidden;
                    @extend %border-thin-radius;
                    height: var(--blog-page-height);
                    border: 1px solid #dbdbfe;
                    &:hover {
                        @extend %border-thin-primary;
                        .ic, h3, h4, h5, h6 {
                            @extend %primary-color;
                        }
                    }
                    a {
                        @extend %full-width;
                        @extend %text-decoration-none;
                        @extend %secondary-text;
                        * {
                            @extend %reset;
                        }
                        p {
                            @extend %muted;
                            @extend %small;
                        }
                    }
                }
                /** apapun headingnya  */
                h3, h4, h5, h6 {
                    @extend %overflow-hidden;
                    font-size: 17px;
                    line-height: 1.5;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                .ic {
                    @extend %absolute;
                    top: 22px;
                    i {
                        font-size: 20px;
                    }
                }
            }
            @extend %half;
            
            /** previous */
            &:first-of-type {
                > .q {
                    @extend %justify-content-flex-start;
                    @extend %padding-right-xs;
                    > * {
                        @extend %text-right;
                        @extend %padding-left-xl;
                    }
                    .ic {
                        @extend %absolute;
                        left: 15px;
                    }
                }
            }
            
            /** next */
            &:last-of-type {
                .q {
                    @extend %justify-content-flex-end;
                    @extend %padding-left-xs;
                    > * {
                        @extend %padding-right-xl;
                    }
                    .ic {
                        right: 15px;
                    }
                }
            }
        }
    }
}