#_bt_ {
    @extend %margin-top;
    ul {
        padding-left: 0;
        li {
            @extend %inline-block;
            a {
                font-size: 14px;
                font-weight: 600;
                padding: .4rem 1rem;
                text-decoration: none;
                @extend %primary-font;
                @extend %primary-color;
                @extend %border-thin-radius;
                @extend %set-background-primary-light;
            }
        }
    }
}