btn,
a {
    &.anhoi-btn {
        @extend %primary-color;
        @extend %text-decoration-none;
        i {
            font-size: 22px;
        }
        &[data-size=lg] {
            font-size: 20px;
            font-weight: bold;
            i {
                font-size: 26px;
            }
        }
    }
}