#hero #hero_nav {
  @extend %transition;
}

#hero_nav_toggler {
  /** hide for desktop */
  @extend %display-none;
}

#hero[data-position=left] {
  #hero_nav {
    @extend %block;
  }
  #hero_nav {
    &.slided {
      @extend %block;
      // @extend %transition;
      margin-left: unset;
    }
  }
}

#hero_nav {
  width: $left-width;
  @extend %fixed;
  @extend %top-left;
  @extend %full-height;
  @extend %display-none;
  @extend %set-background-white;
  margin-left: - $left-width;
  ._ {
    padding-right: 60px;
    ._a {
      padding-top: 85px;
    }
  }
  ul {
    @extend %flex;
    @extend %flex-direction-column;
    @extend %remove-bullet-list;
    /** class active */ 
    .you_are_with_me {
      a {
        i {
          @extend %primary-color;
        }
      }
      &:before {
        left: 0 !important;
      }
      a {
        @extend %primary-color;
      }
    }

    li[data-stand-alone] {
      @extend %text-center;
      @extend %margin-bottom-xl;
      &:before {
        @extend %display-none;
      }
      a {
        @extend %background-primary-color-light;
        @extend %box-shadow-primary-color;
        @extend %border-thin-radius;
        @extend %inline-block;
        @extend %full-width;
        padding: .2rem;
        i {
          @extend %white;
        }
      }
      &:hover {
        i {
          @extend %white;
        }
      }
    }
    li {
      @extend %relative;
      &:before {
        @extend %transition;
        @extend %set-background-primary;
        @extend %border-thin-radius;
        @extend %full-height-percen;
        @extend %absolute;
        @extend %top-left;
        content: "";
        width: 4px;
        left: -6px;
      }
      &:hover {
        &:before {
          left: 0 !important;
        }
        a {
          i {
            @extend %primary-color;
          }
        }
      }
      padding-left: 60px;
      @extend %margin-bottom;
      a {
        @extend %black;
        @extend %block;
        @extend %relative;
        text-decoration: none;
        line-height: 40px;
        i {
          @extend %gray;
          font-size: 20px;
        }
        span {
          @extend %margin-left;
          @extend %transition;
        }
      }
    }
  }
}