
/* Input */
input,
textarea {
    padding: 14px 15px;
    outline: none;
    border-radius: $border-radius;
}
input.with-box-shadow,
textarea.with-box-shadow {
    -webkit-box-shadow: 0 7px 32px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 7px 32px 0 rgba(0,0,0,0.1);
    box-shadow: 0 7px 32px 0 rgba(0,0,0,0.1);
    padding: 12px 20px;
    border: none !important;
}
input:active,
input:focus,
textarea:active,
textarea:focus {
    border-color: $primary-color !important;
}
input::placeholder,
textarea::placeholder {
    color: $secondary-text;
}