#_n_ {
    $logo-size: 32px;
    @extend %fixed;
    @extend %full-width;
    * {
        @extend %transition;
    }
    /** When position left */
    &[data-position=left] {
        $nav-size: 62px;
        $logo-size: 26px;
        @extend %top-left;
        @extend %box-shadow;
        @extend %full-height;
        // @extend %set-background-white;
        // @extend %box-shadow;
        width: unset;
        ._ {
            width: $nav-size;
            margin: unset;
            padding: unset;
            padding-top: 1.75rem;
            ._s {
                padding: 0;
                @extend %text-center;
                ._a {
                    @extend %justify-content-flex-start;
                    @extend %flex-direction-column;
                    ul {
                        @extend %margin-top-lg;
                        @extend %flex;
                        @extend %flex-direction-column;
                        li {
                            @extend %full-width;
                            a {
                                margin-right: 0;
                                @extend %inline-block;
                                padding: {
                                    top: 1rem;
                                    bottom: 1rem;
                                    left: 0;
                                    right: 0;
                                }
                                &:hover {
                                    i {
                                        left: 0;
                                    }
                                }
                                i {
                                    @extend %visibility-visible;
                                    @extend %relative;
                                    font-size: 18px;
                                }
                                > span {
                                    @extend %display-none;
                                }
                            }
                        }
                    }
                }
                #_r_ {
                    > span {
                        @extend %display-none;
                    }
                    ._z {
                        margin-right: unset;
                        img {
                            width: $logo-size;
                            height: auto;
                        }
                    }
                }
            }
        }
    }

    #_r_ {
        @extend %flex;
        @extend %align-items-center;
        ._z {
            @extend %line-height-zero;
            @extend %margin-right-xs;
            img {
                width: $logo-size;
                height: $logo-size;
            }
            + * {
                font-weight: bold;
                font-size: 20px;
            }
        }
    }
    
    ._ {
        padding: 0 30px;
        ._s {
            @extend %give-standard-padding;
        }
        ._a {
            @extend %flex;
            @extend %align-items-center;
            @extend %justify-content-space-between;
            ul {
                @extend %remove-bullet-list;
                /** class active */
                .you_are_with_me {
                    a {
                        @extend %primary-color;
                    }
                }
                li {
                    @extend %inline-block;
                    a {
                        @extend %relative;
                        color: $main-color;
                        text-decoration: none;
                        padding: .3rem 1rem;
                        @extend %margin-right-sm;
                        &:hover {
                            i {
                                visibility: visible;
                                left: 3px;
                            }
                            span {
                                @extend %margin-left-xs;
                            }
                        }
                        i {
                            @extend %absolute;
                            @extend %primary-color;
                            font-size: 15px;
                            top: 6px;
                            left: 0px;
                            visibility: hidden;
                        }
                        span {
                            @extend %transition;
                        }
                    }
                }
            }
        }
    }
}