#_n_ {
    $navigation-space-top: 20px;
    --nativation-space-top: #{$navigation-space-top};
    --reset-top-space: 0;
    --reset-padding-left: unset;
    --reset-padding-right: unset;
    
    $logo-size: 32px;

    @extend %transition-cubic-bezier;
    @extend %full-width;
    @extend %fixed;
    top: 0;

    /** when data not was set */
    &[data-has-set-width=false] {
        top: -125px;
    }

    /** when has set width by javascript */
    &[data-has-set-width=true] {
        top: var(--nativation-space-top);
    }


    /** When position left */
    &[data-position=left] {
        $nav-size: 62px;
        $logo-size: 26px;
        @extend %top-left;
        @extend %box-shadow;
        @extend %full-height;
        // @extend %set-background-white;
        // @extend %box-shadow;
        width: unset;
        
        /** reset padding */
        padding-left    : var(--reset-padding-left) !important;
        padding-right   : var(--reset-padding-right) !important;
        top             : var(--reset-top-space) !important;
        &[data-has-set-width=false] {
            top         : var(--reset-top-space) !important;
        }
        ._ {
            width: $nav-size;
            margin: unset;
            padding: unset;
            padding-top: 1rem;
            border-bottom: unset;
            ._s {
                padding: 0;
                @extend %text-center;
                box-shadow: none !important;
                ._a {
                    @extend %justify-content-flex-start;
                    @extend %flex-direction-column;
                    ul {
                        @extend %margin-top-lg;
                        @extend %flex;
                        @extend %flex-direction-column;
                        li {
                            @extend %full-width;
                            a {
                                margin-right: 0;
                                @extend %inline-block;
                                padding: {
                                    top: 1rem;
                                    bottom: 1rem;
                                    left: 0;
                                    right: 0;
                                }
                                &:hover {
                                    i {
                                        left: 0;
                                    }
                                }
                                i {
                                    @extend %visibility-visible;
                                    @extend %relative;
                                    font-size: 18px;
                                }
                                > span {
                                    @extend %display-none;
                                }
                            }
                        }
                    }
                }
                #_r_ {
                    > span {
                        @extend %display-none;
                    }
                    ._z {
                        margin-right: unset;
                        img {
                            width: $logo-size;
                            height: auto;
                        }
                        + span {
                            @extend %display-none;
                        }
                    }
                }
            }
        }
    }

    #_r_ {
        a {
            @extend %flex;
            @extend %align-items-center;
            @extend %text-decoration-none;
        }
        ._z {
            @extend %line-height-zero;
            @extend %margin-right-xs;
            img {
                width: $logo-size;
                height: $logo-size;
            }
            + * {
                @extend %main-color;
                font-size: 18px;
            }
        }
    }
    
    ._ {
        @extend %transition-cubic-bezier;
        ._s {
            @extend %give-standard-padding;
            @extend %set-background-white;
            @extend %border-thin-radius;
            @extend %box-shadow;
        }
        ._a {
            @extend %flex;
            @extend %align-items-center;
            @extend %justify-content-space-between;
            @extend %padding-top-sm;
            @extend %padding-bottom-sm;
            ul {
                @extend %remove-bullet-list;
                /** class active */
                .you_are_with_me {
                    a {
                        @extend %primary-color;
                    }
                }
                li {
                    @extend %inline-block;
                    a {
                        @extend %relative;
                        color: $main-color;
                        text-decoration: none;
                        padding: .3rem 1rem;
                        &:hover {
                            i {
                                visibility: visible;
                                left: 3px;
                            }
                            span {
                                @extend %margin-left-xs;
                            }
                        }
                        i {
                            @extend %absolute;
                            @extend %primary-color;
                            font-size: 15px;
                            top: 6px;
                            left: 0px;
                            visibility: hidden;
                        }
                    }
                }
            }
        }
    }
}