#_n_ {

    $logo-size: 32px;
    #_r_ {
        @extend %flex;
        @extend %align-items-center;
        ._z {
            @extend %line-height-zero;
            @extend %margin-right-xs;
            img {
                width: $logo-size;
                height: $logo-size;
            }
            + * {
                font-weight: bold;
                font-size: 20px;
            }
        }
    }
    
    ._ {
        @extend %one-k-width;
        ._s {
            @extend %give-standard-padding;
        }
        ._a {
            @extend %flex;
            @extend %align-items-center;
            @extend %justify-content-space-between;
            ul {
                @extend %remove-bullet-list;
                /** class active */
                .you_are_with_me {
                    a {
                        @extend %primary-color;
                    }
                }
                li {
                    @extend %inline-block;
                    a {
                        @extend %relative;
                        color: $main-color;
                        text-decoration: none;
                        padding: .3rem 1rem;
                        @extend %margin-right-sm;
                        &:hover {
                            i {
                                visibility: visible;
                                left: 3px;
                            }
                            span {
                                @extend %margin-left-xs;
                            }
                        }
                        i {
                            @extend %absolute;
                            @extend %primary-color;
                            font-size: 15px;
                            top: 6px;
                            left: 0px;
                            visibility: hidden;
                        }
                        span {
                            @extend %transition;
                        }
                    }
                }
            }
        }
    }
}