#_nRx9 {
  @extend %lite-width;
  $input-height: 50px;
  ._s {
    padding: 50px;
    @extend %border-thin-radius;
    @extend %set-background-light;
    @extend %primary-color;
    .r {
      h3 {
        font-size: 32px;
        @extend %margin-bottom-xs;
      }
      p {
        @extend %muted;
      }      
    }
    input {
      &[type=text] {
        @extend %border-default-transparent;
        @extend %border-thin-radius;
        width: 355px;
        height: $input-height;
        &::placeholder {
          @extend %gray;
        }
      }
      + button {
        @extend %border-default-transparent;
        @extend %background-primary-color-light;
        @extend %border-thin-radius;
        height: $input-height;
        @extend %padding-left;
        @extend %padding-right;
      }
    }
  }
}