#_pa {

    $author-pic-size: 82px;
    --author-pic-size: #{$author-pic-size};
    @extend %lite-width;
    @extend %padding-top;
    @extend %padding-bottom;
    [class*=pa] {
        @extend %relative;
        @extend %box-shadow;
        @extend %line-height-zero;
        @extend %border-thin-info;
        @extend %border-thin-radius;
        z-index: 1;
        background: #ececec;
        ._ {
            @extend %flex;
            @extend %padding-lg;
            @extend %align-items-center;
            @extend %line-height-default;
            @extend %flex-direction-column;
            @extend %justify-content-center;
            .a {
                @extend %margin-bottom-sm;
                img {
                    @extend %image-box-shadow;
                    @extend %round;
                    width: var(--author-pic-size);
                    height: auto;
                }
            }
            .n {
                @extend %text-center;
                @extend %padding-left-lg;
                @extend %padding-right-lg;
                h6 {
                    @extend %reset;
                    @extend %margin-bottom-sm;
                    font-size: 22px;
                }
                p {
                    @extend %muted;
                    font-size: 17px;
                }
            }
            
        }
        ._oh_waves_ {
            @extend %absolute;
            @extend %full-width;
            z-index: -1;
            &[data-position=bottom] {
                @extend %bottom-left;
            }
        }
    }
}