#_psh {
    $social-icon-size: 20px;

    &[data-show=false] {
        bottom: -100px;
    }

    @extend %fixed;
    @extend %bottom-left;
    @extend %text-center;
    @extend %full-width;
    z-index: 1001;
    @extend %transition;

    * {
        @extend %transition;
    }


    /** 
     * Event ketika floating share terbuka */
    &.show {
        bottom: 1.5rem;
        div[class^=s] {
            @extend %set-background-white;
            @extend %box-shadow;
            .a {
                @extend %danger;
                padding: 0.65rem .65rem;
                transition: none;
                i {
                    color: #dc0202;
                }
                &:hover {
                    i {
                        margin-right: 0;
                    }
                }
                span:not([class*=i]) {
                    @extend %display-none;
                }
            }
        }
        ul {
            display: block;
        }
    }
    

    div[class$=s] {
        @extend %transition;
    }
    
    div[class^=s] {
        @extend %border-thin-radius;
        @extend %margin-auto;
        width: 840px;
        @extend %padding-top-lg;
        @extend %padding-bottom-lg;
        > .a {
            @extend %background-primary-color-light;
            @extend %reset-line-height;
            @extend %user-select-none;
            @extend %cursor-pointer;
            @extend %inline-block;
            @extend %box-shadow;
            border-radius: 20px;
            padding: .75rem 1.5rem;
            &:hover {
                i {
                    @extend %margin-right-xs;
                }
            }
            i {
                font-size: 18px;
            }
            span {
                @extend %small;
                @extend %margin-left-xs;
            }
        }
    }

    ul {
        @extend %margin-top-lg;
        @extend %remove-bullet-list;
        @extend %display-none;
        li {
            @extend %inline-block;
            a {
                @extend %flex;
                @extend %justify-content-center;
                @extend %text-decoration-none;
                @extend %main-color;
                @extend %padding-left-sm;
                @extend %padding-right-sm;
                @extend %border-thin-radius;
                padding: {
                    top: .4rem;
                    bottom: .4rem;
                }
                &:hover {
                    &[data-target=whatsapp] {
                        background-color: rgba($whatsapp-color, 0.2);
                    }
                    &[data-target=facebook] {
                        background-color: rgba($facebook-color, 0.2);
                    }
                    &[data-target=twitter] {
                        background-color: rgba($twitter-color, 0.2);
                    }
                    &[data-target=linkedin] {
                        background-color: rgba($linkedin-color, 0.2);
                    }
                }
                .ic {
                    @extend %line-height-zero;
                }
                span {
                    font-size: 15px;
                }
            }
            svg {
                @extend %margin-right-xs;
                height: $social-icon-size;
                width: auto;
            }
        }
    }
}