$icon_social_link_size : 18px;

#__h_sl {
    @extend %margin-top;
    ._s {
        .sp span {
            @extend %small;
            @extend %muted;
        }
        ul {
            @extend %remove-bullet-list;
            @extend %margin-top-xs;
            li {
                @extend %inline-block;
                a {
                    @extend %line-height-zero;
                    @extend %inline-block;
                    @extend %margin-right-sm;
                    svg {
                        width: $icon_social_link_size;
                        height: $icon_social_link_size;
                    }
                    .ic {
                        svg {
                            fill: $text-muted;
                        }
                        + span {
                            @extend %display-none;
                        }
                    }
                }
            }
        }
    }
}