
/** 
 * Blog pager
 */
#pgr {
	@extend %padding-top-lg;
	@extend %display-flex;
	@extend %justify-content-center;

	/* Show more button homepage */
	.s a {
		@extend %display-flex;
		@extend %align-items-center;
		@extend %color-muted;
		&:hover {
			@extend %primary-color;
			svg {
				@extend %fill-primary;
				@extend %margin-left-md;
			}
		}
		span {
			@extend %font-lg;
		}
		svg {
			@extend %margin-left-sm;
			@extend %transition;
			@extend %fill-muted;
			height: 14px;
		}
	}

	._x {
		@extend %lite-width;
		@extend %margin-x-auto;
		@extend %padding-x-lg;
		nav {
			@extend %padding-top-lg;
			@extend %padding-bottom-md;
		}
		ul {
			@extend %no-margin;
			@extend %no-padding;
			@extend %display-flex;
			@extend %list-style-none;
			@extend %align-items-center;
			@extend %justify-content-space-between;
		}
		li {
			> * {
				@extend %display-flex;
				@extend %align-items-center;
			}

			a {
				@extend %color-muted;
				&:hover {
					@extend %primary-color;
					svg {
						@extend %fill-primary;
					}
				}
			}

			&.disabled {
				svg {
					@extend %fill-disabled;
				}
				> * {
					@extend %color-disabled;
					cursor: no-drop;
				}
			}
			&:first-child {
				svg {
					@extend %margin-right-md;
				}
			}
			&:last-child {
				svg {
					@extend %margin-left-md;
				}
			}

			svg {
				height: 12px;
				@extend %fill-muted;
			}
		}
	}
}