*,
::after,
::before {
	@include prefix(box-sizing, border-box, webit);
}


body {
	font-family: $primary-font;
	font-size: $default;
	color: $default-color;
	line-height: $default-line-height;
	@extend %font-weight-500;
	@extend %text-align-left;
	@extend %background-color-default;
}


/** Text */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
}

img {
	@extend %full-width;
}

/** Links */
a {
	@extend %color-primary;
	@extend %text-decoration-none;
	&:focus {
		outline: none;
	}
}

pre, code {
	font-family: $pre-format-font !important;
}

::-webkit-input-placeholder { /* Edge */
    color: $muted;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $muted;
}

::placeholder {
    color: $muted;
}



/** Scroll bar */
$scrollBarSize : 8px;

::-webkit-scrollbar {
    width: 6px;
    height: $scrollBarSize;
    -webkit-appearance: none;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}