$background-image-width : 40%;
$left-section-background-color: #f4f4f4;


/** Redefined style for about page */
[data-page="about"] {
    footer {
        display: none;
    }
    #AnhOi {
        main {
            background-color: $left-section-background-color;
            @extend %full;
            .Anh {
                .__o__ {
                    @extend %remove-box-shadow;
                    background-color: transparent !important;
                    padding-top: unset;
                    [class*=__] {
                        @extend %full-width;
                    }
                }
            }
        }
    }
    footer#main {
        padding-left: $background-image-width;
    }
}


#about {
    ._r {
        ._a {
            
            /** background image area */
            ._x {
                @extend %fixed;
                @extend %bottom-left;
                @extend %line-height-zero;
                width: $background-image-width;
                height: 100%;
                
                /** Back button */
                #back {
                    @extend %absolute;
                    top: 2rem;
                    left: 2rem;
                    z-index: 1;
                    a {
                        i {
                            font-size: 22px;
                            @extend %margin-right-sm;
                        }
                        @extend %primary-color;
                        @extend %text-decoration-none;
                    }
                }
                > [class*=img] {
                    width: $background-image-width;
                    background-color: $left-section-background-color;
                    @extend %fixed;
                    @extend %bottom-left;
                    @extend %line-height-zero;
                    @extend %full-height;
                    // &:hover {
                    //     img {
                    //         &[data-has-center=true] {
                    //             bottom: -100px;
                    //             @include transition(all 1s);
                    //         }
                    //     }
                    // }
                }
                img {
                    width: auto;
                    height: 100%;
                    @include transition(all .8s);
                    @extend %absolute;
                    bottom: 0;
                    left: - $background-image-width * 2;
                    &[data-has-center=true] {
                        left: 0;
                    }
                }
            }
            
            /** content area */
            .c {
                @extend %box-shadow;
                left: $background-image-width;
                @extend %fixed;
                @extend %overflow-hidden;
                top: 4%;
                height: 92%;
                width: 58%;
                display: inline-block;
                border-radius: 1rem;
                overflow-y: auto;
                &::-webkit-scrollbar-button {
                    display: inline-block;
                }
                &::-webkit-scrollbar-track {
                    @extend %set-background-white;
                }
                .top, .bottom {
                    @extend %overflow-hidden;
                    z-index: 1;
                    @extend %fixed;
                    width: 58%;
                    height: 80px;
                    padding-right: 30px;
                }
                .top {
                    left: $background-image-width;
                    background: linear-gradient(180deg, #ffffff, rgba(255, 255, 255, 0.99), transparent);
                    top: 4%;
                    border-radius: 1rem 1rem 0 0;
                }
                .bottom {
                    left: $background-image-width;
                    background: linear-gradient(180deg, transparent, rgba(255, 255, 255, 0.99), #ffffff);
                    bottom: 4%;
                    border-radius: 0 0 1rem 1rem;
                }
                ._ {
                    @extend %relative;
                    > .rx {
                        @extend %set-background-white;
                        font-size: 17px;
                        line-height: 1.65;
                        padding: 52px 80px;
                    }
                }
            }
        }
    }

    /** Social Links*/
    #s {
        @extend %absolute;
        @extend %full-width;
        @extend %transition-cubic-bezier;
        &.bottom {
            bottom: -100px;
        }
        &.top {
            bottom: 3rem;
        }
        ._s {
            @extend %justify-content-center;
            @extend %align-items-center;
            @extend %flex;
            height: 80px;
            [class*="y_"] {
                @extend %set-background-white;
                @extend %border-radius;
                @extend %image-box-shadow;
                @extend %padding-top-sm;
                @extend %padding-bottom-sm;
                @extend %padding-right-xl;
                @extend %padding-left-xl;
            }
            ul {
                $svg-size : 18px;
                @extend %remove-bullet-list;
                li {
                    @extend %inline-block;
                    a {
                        @extend %line-height-zero;
                        @extend %inline-block;
                        @extend %padding-sm;
                        @extend %border-radius;
                        &:hover {
                            background-color: rgba($primary-color, 0.1);
                            svg {
                                fill: $primary-color !important;
                            }
                        }
                        svg {
                            width: $svg-size;
                            height: $svg-size;
                        }
                        .ic {
                            svg {
                                fill: #2a2a2a;
                            }
                            + span {
                                @extend %display-none;
                            }
                        }
                    }
                }
            }
        }
    }
}