[data-page=contact-index] {
    #contact {
        width: 540px;
        margin: auto;
        ._h_ {
            h1 {
                @extend %muted;
                font-size: 30px;
            }
        }
        form {
            @extend %padding-top;
        }
        ._f {
            @extend %relative;
            @extend %margin-bottom;
            &.tp {
                @extend %flex;
                label {
                    @extend %muted;
                }
                select {
                    @extend %set-background-white;
                    @extend %margin-left-xs;
                    @extend %primary-color;
                    border: none;
                    width: 250px;
                    font-size: 18px;
                }
            }
            input {
                @extend %reset-line-height;
            }
            input, textarea {
                @extend %border-thin-radius;
                @extend %box-shadow;
                border: 2px solid $light;
                font-size: 18px;
                &[class*=invalid] {
                    border: 2px solid $error;
                }
            }
            button {
                @extend %border-default-primary;
                @extend %set-background-white;
                @extend %border-thin-radius;
                @extend %primary-color;
                @extend %transition;
                padding: .5rem 1rem;
                font-size: 16px;
                &:hover, &:focus {
                    @extend %background-primary-color-light;
                    i {
                        @extend %margin-left;
                    }
                }
                i {
                    @extend %transition;
                    @extend %margin-left;
                    font-size: 20px;
                }
            }
            label:not(.topic-label) {
                @extend %flex;
                @extend %absolute;
                @extend %transition;
                color: $gray;
                left: 1rem;
                top: 14px;
                span {
                    @extend %margin-left-sm;
                }
                i {
                    font-size: 20px;
                }
            }
            &[data-has-value=true] {
                input,
                textarea {
                    padding: 30px 15px 8px 15px;
                    
                    &[class*=invalid] {
                        @extend %border-default-primary;
                    }
                }

                /** jika keadaan data-has-value tapi juga validatenya false */
                &[data-validate=false] {
                    input,
                    textarea {
                        &[class*=invalid] {
                            border-bottom: 2px solid $red;
                            border: {
                                top: 0;
                                left: 0;
                                right: 0;
                            }
                        }
                    }
                }

                [class*=feedback] {
                    &[class*=invalid] {
                        @extend %display-none;
                    }
                }
                label {
                    @extend %primary-color;
                    font-size: 12px;
                    top: 10px;
                    i {
                        font-size: 16px;
                    }
                }
            }
            &[data-input-email=wrong] {
                label {
                    color: red;
                }
                input {
                    border-color: red !important;
                }
            }
            .spinner-validate {
                @extend %absolute;
                top: 19px;
                right: 19px;
                &[data-has-validate=true] {
                    i {
                        color: $green;
                    }
                }
                &[data-has-validate=false] {
                    i {
                        color: $red;
                    }
                }
                i {
                    @extend %primary-color;
                    font-size: 20px;
                }
            }

            &[data-validate=false] {
                input, textarea, select {
                    border-bottom: 2px solid $red;
                }
            }

            [class*=feedback] {
                @extend %small;
                @extend %transition;
                &[class*=invalid] {
                    color: $error;
                }
            }

            input,
            textarea {
                @extend %full-width;
                @extend %transition;
                &:focus {
                    @extend %box-shadow;
                }
            }
            textarea {
                height:200px;
            }
        }

        /** Back */
        #back {
            @extend %margin-bottom-lg;
            a {
                @extend %gray;
                @extend %text-decoration-none;
                &:hover,
                &:active {
                    @extend %primary-color;
                    @extend %set-background-white;
                }
                i {
                    font-size: 22px;
                    @extend %margin-right-sm;
                }
            }
        }
    }


    /** When message success to send */
    #_c-s_ {
        @extend %transition2x;
        @extend %full-width;
        @extend %absolute;
        top: -100vh;
        z-index: 1;
        left: 0;
        transition: background-color .2s ease;
        &.show {
            @extend %full-height;
            @extend %top-left;
            @extend %set-background-white;
        }
        .ms {
            @extend %justify-content-center;
            @extend %align-items-center;
            @extend %text-center;
            @extend %flex;
            height: 100%;
            ._c_ {
                h3 {
                    font-size: 26px;
                    @extend %muted;
                    @extend %font-weight-normal;
                    @extend %margin-bottom-sm;
                }
                p {
                    @extend %primary-color;
                }
                a {
                    @extend %text-decoration-none;
                    @extend %border-thin-primary;
                    @extend %border-thin-radius;
                    @extend %primary-color;
                    @extend %margin-top-sm;
                    @extend %inline-block;
                    padding: .5rem 1rem;
                    i {
                        font-size: 20px;
                    }
                    &:hover {
                        @extend %background-primary-color-light;
                    }
                }
            }
        }
    }
}