/** Width */
$main-width          : 1024px;
$one-k-width         : 1000px;
$lite-width          : 900px;
$post-width          : 720px;
$full-width          : 100%;

/** Media Queries */
$breakpoint-desktop     : 1366px;
$breakpoint-laptop      : 1200px;
$breakpoint-one-k		: 1000px;
$breakpoint-tablet      : 768px;
$breakpoint-mobile-lg   : 640px;
$breakpoint-mobile      : 480px;
$breakpoint-mobile-sm   : 360px;
$breakpoint-min-main-width	: $main-width;

$desktop               : '(max-width: #{$breakpoint-desktop})';
$laptop                : '(max-width: #{$breakpoint-laptop})';
$one-k				   : '(max-width: #{$breakpoint-one-k})';
$min-main-width		   : '(max-width: #{$breakpoint-min-main-width})';
$tablet                : '(max-width: #{$breakpoint-tablet})';
$mobile-lg             : '(max-width: #{$breakpoint-mobile-lg})';
$mobile                : '(max-width: #{$breakpoint-mobile})';
$mobile-sm             : '(max-width: #{$breakpoint-mobile-sm})';


// Font Family
$primary-font       : 'HK Grotesk', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$secondary-font		: 'Lora', 'Times New Roman', serif;
$pre-format-font	: "Fira Code Retina", consolas, monospace;


// Font Size
$large    			: 20px;
$default			: 16px;
$small          	: 15px;
$extra-small		: 13px;

$default-line-height: 1.55;


/** icon size for material design icons */
$icon-xs   			: 16px;
$icon-sm   			: 18px;
$icon-md   			: 20px;
$icon-lg   			: 24px;
$icon-xl   			: 26px;


/** Etc */
$border-thin-radius : .2rem;
$border-radius		: .45rem;