
/**
 * Background
 */

%background-color-white {
	background-color: $white;
}

%background-color-default {
	background-color: $default-background;
}

%background-color-blue-light {
	background-color: $blue-light;
}

%background-color-primary {
	background-color: $primary-color;
}

%background-color-secondary {
	background-color: $secondary-color;
}

%background-color-dark {
	background-color: $dark-background;
}

%background-color-transparent {
	background-color: transparent;
}