
/**
 * Colors
 */

%color-default {
	color: $default-color;
}

%color-white {
	color: $white;
}

%color-black {
	color: $black;
}

%color-primary {
	color: $primary-color;
}

%color-secondary {
	color: $primary-color;
}

%color-muted {
	color: $muted;
}

%color-gray {
	color: $gray;
}