
/**
 * Etc extends 
 */

/** Icon for material icons */

%icon-xs {
	font-size: $icon-xs;
}

%icon-sm {
	font-size: $icon-sm;
}

%icon-md {
	font-size: $icon-md;
}

%icon-lg {
	font-size: $icon-lg;
}

%icon-xl {
	font-size: $icon-xl;
}



/** SVG Size */
%svg-size {
	width: auto;
}

%svg-xs {
	@extend %svg-size;
	height: $icon-xs;
}

%svg-sm {
	@extend %svg-size;
	height: $icon-sm;
}

%svg-md {
	@extend %svg-size;
	height: $icon-md;
}

%svg-lg {
	@extend %svg-size;
	height: $icon-lg;
}

%svg-xl {
	@extend %svg-size;
	height: $icon-xl;
}



/** Absolute or fixed positions */

%top {
	top: 0;
}

%bottom {
	bottom: 0;
}

%left {
	left: 0;
}

%right {
	right: 0;
}

%top-left {
	@extend %top;
	@extend %left;
}

%top-right {
	@extend %top;
	@extend %right;
}

%bottom-left {
	@extend %bottom;
	@extend %left;
}

%bottom-right {
	@extend %bottom;
	@extend %right;
}



/** pseudo content */
%content {
	content: "";
}