
/**
 * Float 
 */

%float-left {
	float: left;
}

%float-right {
	float: right;
}

%float-none {
	float: none;
}

%float-initial {
	float: initial;
}

%float-inherit {
	float: inherit;
}

%float-unset {
	float: unset;
}