
/**
 * List style 
 */

%list-style-none {
	list-style: none;
}

%list-style-outside {
	list-style: outside;
}

%list-style-circle {
	list-style: circle;
}

%list-style-decimal {
	list-style: decimal;
}

%list-style-disc {
	list-style: disc;
}