
/** Overflows */

%overflow-hidden {
	overflow: hidden;
}

%overflow-visible {
	overflow: visible;
}

%overflow-auto {
	overflow: auto;
}

%overflow-scroll {
	overflow: scroll;
}

%overflow-overlay {
	overflow: overlay;
}

%overflow-initial {
	overflow: initial;
}

%overflow-inherit {
	overflow: inherit;
}

%overflow-unset {
	overflow: unset;
}



/** Vertical overflows */

%overflow-y-hidden {
	overflow-y: hidden;
}

%overflow-y-visible {
	overflow-y: visible;
}

%overflow-y-auto {
	overflow-y: auto;
}

%overflow-y-scroll {
	overflow-y: scroll;
}

%overflow-y-overlay {
	overflow-y: overlay;
}

%overflow-y-initial {
	overflow-y: initial;
}

%overflow-y-inherit {
	overflow-y: inherit;
}

%overflow-y-unset {
	overflow-y: unset;
}


/** Horizontal overflows  */

%overflow-x-hidden {
	overflow-x: hidden;
}

%overflow-x-visible {
	overflow-x: visible;
}

%overflow-x-auto {
	overflow-x: auto;
}

%overflow-x-scroll {
	overflow-x: scroll;
}

%overflow-x-overlay {
	overflow-x: overlay;
}

%overflow-x-inherit {
	overflow-x: inherit;
}

%overflow-x-initial {
	overflow-x: initial;
}

%overflow-x-unset {
	overflow-x: unset;
}