
/** Width */

%width-100 {
	width: 100%;
}

%height-100 {
	height: 100%;
}

%height-100vh {
	height: 100vh;
}

%full {
	@extend %height-100vh;
	@extend %width-100;
}

%full-percen {
	@extend %height-100;
	@extend %width-100;
}

%height-full {
	@extend %height-100vh;
}

// alias
%full-height {
	@extend %height-full;
}

%height-full-percen {
	@extend %height-100;
}

// alias
%full-height-percen {
	@extend %height-full-percen;
}

/** width */
%width-full {
	@extend %width-100;
}

// alias
%full-width {
	@extend %width-full;
}

%width-default {
	width: $main-width;
	@media (max-width: $main-width) {
		width: 100% !important;
	}
}

// alias
%default-width {
	@extend %width-default;
}

%width-one-k {
	width: $one-k-width;
	@media (max-width: $one-k-width) {
		width: 100% !important;
	}
}

%width-lite {
	width: $lite-width;
	@media (max-width: $lite-width) {
		width: 100% !important;
	}
}

// alias
%lite-width {
	@extend %width-lite;
}

%half {
	width: 50%;
}