
/**
 * SVG Fill color
 */

/**
 * Colors
 */

%fill-default {
	fill: $default-color;
}


%fill-white {
	fill: $white;
}

%fill-black {
	fill: $black;
}

%fill-primary {
	fill: $primary-color;
}

%fill-secondary {
	fill: $secondary-color;
}

%fill-muted {
	fill: $muted;
}

%fill-gray {
	fill: $gray;
}

%fill-disabled {
	fill: $disabled;
}