
/**
 * Text
 */

/** Text align */
%text-align-center {
	text-align: center;
}

%text-align-right {
	text-align: right;
}

%text-align-left {
	text-align: left;
}

%text-align-inherit {
	text-align: inherit;
}

%text-align-unset {
	text-align: unset;
}



/** Text transform */
%text-transform-uppercase {
	text-transform: uppercase;
}

%text-transform-capitalize {
	text-transform: capitalize;
}

%text-transform-lowercase {
	text-transform: lowercase;
}

%text-transform-inherit {
	text-transform: inherit;
}

%text-transform-unset {
	text-transform: unset;
}



/** Text overflow */
%text-overflow-clip {
	text-overflow: clip;
}

%text-overflow-ellipsis {
	text-overflow: ellipsis;
}

%text-overflow-unset {
	text-overflow: unset;
}



/** Text decoration */
%text-decoration-none {
	text-decoration: none;
}

%text-decoration-blink {
	text-decoration: blink;
}

%text-decoration-dashed {
	text-decoration: dashed;
}

%text-decoration-dotted {
	text-decoration: dotted;
}

%text-decoration-double {
	text-decoration: double;
}

%text-decoration-line-through {
	text-decoration: line-through;
}

%text-decoration-overline {
	text-decoration: overline;
}

%text-decoration-underline {
	text-decoration: underline;
}

%text-decoration-solid {
	text-decoration: solid;
}

%text-decoration-unset {
	text-decoration: unset;
}



/**
 * Line height
 */

%line-height-0 {
	line-height: 0;
}

%line-height-1 {
	line-height: 1;
}