
/** Visibility */

%visibility-visible {
	visibility: visible;
}

%visibility-collapse {
	visibility: collapse;
}

%visibility-hidden {
	visibility: hidden;
}

%visibility-initial {
	visibility: initial;
}

%visibility-inherit {
	visibility: inherit;
}

%visibility-unset {
	visibility: unset;
}