
/**
 * Nav header
 */

nav {
	@extend %display-flex;
	@extend %font-weight-500;
	@extend %justify-content-space-between;
	ul {
		@extend %no-padding;
		@extend %no-margin;
		@extend %list-style-none;
		
		/* ul right */
		&.r {
			a {
				@extend %no-padding;
				&:before {
					@extend %display-none;
				}
				span {
					@extend %margin-right-md;
				}
				svg {
					@extend %fill-gray;
					height: 14px;
					width: auto;
					@extend %vertical-align-middle;
				}
				&:hover {
					svg {
						@extend %fill-primary;
					}
				}
			}
		}
	}
	li {
		@extend %display-inline-block;
	}
	a {
		@extend %color-gray;
		@extend %text-decoration-none;
		@extend %position-relative;
		@extend %padding-right-xl;
		// @extend %padding-left-sm;

		/* menu dot style */
		$dot-size: 6px;
		&:before {
			@extend %position-absolute;
			width: $dot-size;
			height: $dot-size;
			@extend %background-color-primary;
			@extend %rounded;
			left: -16px;
			top: 6px;
			@include box-shadow(0, 0, 0, 4px, rgba($primary-color, 0.25));
		}

		&:hover {
			@extend %color-primary;
			&:before {
				@extend %content;
			}
		}
	}
}