/** Animations */
%transition {
    @include transition();
    // @include transition(all .2s ease);
}

%transition-cubic-bezier {
    @include transition(all 0.5s cubic-bezier(0.25, 0.1, 0, 0.99));
}


%relative-hidden {
    overflow: hidden;
    position: relative;
}

%overflow-hidden {
    overflow: hidden;
}

%absolute {
    position: absolute;
}

%fixed {
    position: fixed;
}

%top-left {
    top: 0;
    left: 0;
}

%top-right {
    top: 0;
    right: 0;
}

%bottom-left {
    bottom: 0;
    left: 0;
}

%bottom-right {
    bottom: 0;
    right: 0;
}

%relative {
    position: relative;
}