#profile-page {
    padding-top: 100px;
    .card {
        padding: {
            top: 42px;
            bottom: 42px;
        }
        .profile-image {
            width: 300px;
            margin: auto;
            img {
                border-radius: .75rem;
            }
        }
        .profile-name {
            margin-top: 1rem;
            font-weight: bold;
        }
    }
    .social-link {
        padding-left: 0;
        list-style: none;
        .social-link-item {
            display: inline-block;
            a {
                margin: 0 .25rem;
            .icon {
                img {
                    width: 20px;
                    height: 20px;
                }
            }
            }
        }
    }
}