%primary-color-on-tablet {
    @media #{$tablet} {
        color: $primary-color;
    }
}

%full-width-on-tablet {
    @media #{$tablet} {
        width: 100%;
    }
}

%full-width-on-mobile {
    @media #{$mobile} {
        width: 100%;
    }
}

%full-width-on-mobile-sm {
    @media #{$mobile-sm} {
        width: 100%;
    }
}



/** Padding on Tablet */
%padding-left-sm-on-tablet {
    @media #{$tablet} {
        padding-left: .85rem;
    }
}

%padding-left-on-tablet {
    @media #{$tablet} {
        padding-left: 1.25rem;
    }
}

%padding-left-on-tablet {
    @media #{$tablet} {
        padding-left: 1.25rem;
    }
}

%padding-left-lg-on-tablet {
    @media #{$tablet} {
        padding-left: 2rem;
    }
}



/** Margin */
%reset-margin-on-tablet {
    @media #{$tablet} {
        margin: 0 !important;
    }
}


/** Box Shadow */
%remove-box-shadow-on-tablet {
    @media #{$tablet} {
        box-shadow: none !important;
    }
}