// Width
$main-width          : 1120px;
$one-k-width         : 1000px;
$lite-width          : 700px;
$post-width          : 660px;
$index-center        : 80%;
$full-width          : 100%;

$index-post-width    : 500px;

$left-width          : 25%;
$mini-left           : 85px;
$xleft-width         : 33%;

// Height
$header-height      : 72px;
$header-space       : 100px;

// Font Family
$primary-font       : 'HK Grotesk', Roboto, Ubuntu, sans-serif;
$reading-font       : 'Lora', serif;
$code-font          : 'Courier Prime', monospace;

// Font Size
$reading-font-size  : 18px;
$main-font-size     : 16px;
$code-font-size     : 15px;
$small              : 15px;
$xsmall             : 14px;

$line-height        : 1.65rem; 
$code-line-height   : 26px;
$article-line-height: 1.850rem;
$border-radius      : .35rem;

$svg-default-size   : 20px;

$avatar-size        : 30px;

$logo               : 30px;
$logo-small         : 24px;


// Responsive Variables
$laptop-lg    : 1440px;
$laptop-md    : 1280px;
$laptop-sm    : 1000px;
$tablet       : 768px;
$mobile-lg    : 767px;
$mobile-md    : 575px;
$mobile-sm    : 480px;

$laptop-lg-width  : 'screen and (max-width: #{$laptop-lg})';
$laptop-md-width  : 'screen and (max-width: #{$laptop-md})';
$laptop-sm-width  : 'screen and (max-width: #{$laptop-sm})';
$tablet-width     : 'screen and (max-width: #{$tablet})';
$mobile-lg-width  : 'screen and (max-width: #{$mobile-lg})';
$mobile-md-width  : 'screen and (max-width: #{$mobile-md})';
$mobile-sm-width  : 'screen and (max-width: #{$mobile-sm})';


$hero-height      : 75vh;
$left-width       : 320px;