/** Media Queries */
$breakpoint-desktop     : 1366px;
$breakpoint-laptop      : 1200px;
$breakpoint-tablet      : 768px;
$breakpoint-mobile-lg   : 640px;
$breakpoint-mobile      : 480px;
$breakpoint-mobile-sm   : 360px;

$desktop               : '(max-width: #{$breakpoint-desktop})';
$laptop                : '(max-width: #{$breakpoint-laptop})';
$tablet                : '(max-width: #{$breakpoint-tablet})';
$mobile-lg             : '(max-width: #{$breakpoint-mobile-lg})';
$mobile                : '(max-width: #{$breakpoint-mobile})';
$mobile-sm             : '(max-width: #{$breakpoint-mobile-sm})';


// Width
$main-width          : 1120px;
$one-k-width         : 1000px;
$lite-width          : 700px;
$post-width          : 660px;
$index-center        : 80%;
$full-width          : 100%;

$index-post-width    : 500px;

// Height
$header-height      : 72px;
$header-space       : 100px;

// Font Family
$primary-font       : 'HK Grotesk', Roboto, Ubuntu, sans-serif;
$reading-font       : 'Lora', serif;
$code-font          : 'Fira Code Retina', monospace;

// Font Size
$reading-font-size  : 18px;
$main-font-size     : 16px;
$code-font-size     : 15px;
$small             : 14px;

$line-height        : 1.65rem; 
$code-line-height   : 26px;
$article-line-height: 1.850rem;
$border-radius      : .35rem;

$svg-default-size   : 20px;

$avatar-size        : 30px;

$logo               : 30px;
$logo-small         : 24px;


$hero-height      : 75vh;
$left-width       : 320px;
$mini-left-width  : 85px;
$mini-left-width-mobile : 54px;