@keyframes bounce {
	0% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
	50% {
		-webkit-transform: translateY(10px);
		transform: translateY(10px);
	}
	100% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}
// .bounce {
// 	-webkit-animation: bounce 3s infinite ease-in-out;
// 	animation: bounce 3s infinite ease-in-out;
// }
// .bounce--speed1s {
// 	-webkit-animation: bounce 1s infinite ease-in-out;
// 	animation: bounce 1s infinite ease-in-out;
// }


@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% {
	-webkit-transform: scale(0);
	}
	40% {
	-webkit-transform: scale(1);
	}
}
@keyframes sk-bouncedelay {
	0%, 60%, 100% {
	-webkit-transform: scale(0);
	transform: scale(0);
	}
	40% {
	-webkit-transform: scale(1);
	transform: scale(1);
	}
}



/** Rotate */
@keyframes rotate {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/** Rotate with opacity */
@keyframes rotate-opacity {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		opacity: 0.1;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		opacity: 1;
	}
}

/** Opacity with scale */
@keyframes opacity-with-scale {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		transform: scale(0);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		transform: scale(1);
	}
}