#sidebar {
    @media (max-width: $mobile) {
        display: none!important;
    }
    background-color: $white;
    position: fixed;
    left: 0;
    width: $sidebar-width;
    min-height: 100vh;
    .sidebar-inner {
        padding-top: 54px;
    }
    .sidebar-header {
        .profile-pic {
            margin: auto;
            width: 100px;
            height: 100px;
        }
        .profile-name {
                text-align: center;
                margin-top: .5rem;
            h3 {
                font-size: 19px;
                font-weight: 700;
            }
        }
    }
    .sidebar-menu {
        padding: {
            left: 1.35rem;
            right: 1.35rem;
            top: 2.5rem;
        }
        margin-bottom: 0;
        .sidebar-menu-item {
            list-style: none;
            .sidebar-menu-link {
                padding: {
                    top: .5rem;
                    bottom: .5rem;
                }
                display: block;
                text-decoration: none;
                color: $primary-color;
                .material-icons {
                    font-size: 20px;
                    margin-right: .75rem;
                }
            }
        }
    }
}