#sidebar {
    background-color: $white;
    position: fixed;
    left: 0;
    width: $sidebar-width;
    min-height: 100vh;
    .sidebar-inner {
        padding-top: 54px;
    }
    .sidebar-header {
        .profile-pic {
            margin: auto;
            width: 100px;
            height: 100px;
        }
        .profile-name {
                text-align: center;
                margin-top: .5rem;
            h3 {
                font-size: 19px;
                font-weight: 700;
            }
        }
    }
}