#sidebar {

    $sidebar-box-space : 20px;

    @media (max-width: $mobile) {
        display: none!important;
    }
    position: fixed;
    left: 0;
    top: 0;
    width: $sidebar-width;
    min-height: 100vh;
    .sidebar-inner {
        box-sizing: border-box;
        padding: $sidebar-box-space;
    }
    .sidebar-box {
        .sidebar-label {
            @extend %absolute;
            @extend %top-left;
            background-color: $primary-color;
            color: $white;
        }
        @extend %relative-hidden;
        height: calc(100vh - #{$sidebar-box-space * 2});
        background-color: $white;
        border-radius: 10px;
        padding-bottom: 2rem;
    }
    .sidebar-header {
        .sidebar-header-inner {
            padding-top: 28px;
        }
        .profile-pic {
            margin: auto;
            width: 100px;
            height: 100px;
        }
        .profile-name {
                text-align: center;
                margin-top: .5rem;
            h3 {
                font-size: 19px;
                font-weight: 700;
            }
        }
    }
    .sidebar-menu {
        padding: {
            left: 30px;
            right: 0;
            top: 2.5rem;
            bottom: 0;
        }
        margin-bottom: 0;
        .sidebar-menu-item {
            list-style: none;
            margin-bottom: .2rem;
            .sidebar-menu-link {
                margin-left: 36px;
                .sidebar-menu-icon {
                    margin-left: -36px;
                }
                &.active {
                    background-color: $bg;
                    border-radius: 22px 0 0 22px;
                }
                padding: {
                    top: .5rem;
                    bottom: .5rem;
                }
                display: block;
                text-decoration: none;
                color: $primary-color;
                .material-icons {
                    font-size: 20px;
                    margin-right: 30px;
                }
            }
        }
    }
}



/** Sidebar for admin area */
// .admin-area {
//     #sidebar {
//         .sidebar-box {
//             background-color: $bg;
//         }
//         .sidebar-menu {
//             .sidebar-menu-item {
//                 .sidebar-menu-link {
//                     &.active {
//                         background-color: $white;
//                     }
//                 }
//             }
//         }
//     }
// }